<footer class="footer container" >
	<nav class="navbar fixed-bottom navbar-light bg-faded" style="background-color: #e3f2fd;">
		<span >Author D.Kerner. <a href="https://github.com/Bael/fcc.voting.app">Source code</a> </span>
	</nav>
</footer>	