<footer class="footer text-muted" >
	<p>
		<ul class="bd-footer-links">
			<li><span>This "fcc-voting" app is built by <a href="https://www.freecodecamp.org/bael" target="_blank">@bael</a> of freecodecamp,</li>
			<li><span>as solution to challenge <a href="https://www.freecodecamp.org/challenges/build-a-voting-app" target="_blank">build voting app</a></span></li>
			<li><span>Github repository: <a href="https://github.com/Bael/fcc.voting.app" target="_blank">Bael/fcc.voting.app </a></span></li>
			
		</ul>
	

</footer>	
