<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Voting app</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="/polls/pages/1"> Polls <span class="sr-only"></span></a>
      </li>

    <% if(currentUser) { %>
      
   
      <li class="nav-item">
        <a class="nav-link" title="Click to create new poll" href="/polls/new">Create new poll</a>
      </li>

    
      <li class="nav-item">
        <a href="/profile" title="Click to view your profile" class="nav-link">You are: <%= currentUser.getName() %></a>
      </li>

      <li class="nav-item">
        <a href="/logout" title="Click to logout from app" class="nav-link">Logout</a>
      </li>
    <% } else { %>
    <li class="nav-item">
        <a class="nav-link" title="Click to login into" href="/login">Login</a>
    </li>

    <% } %>
    </ul>
    
  </div>
</nav>
