
<% if (currentUser) { %>
    <% for(var i=0; i < polls.length; i++) { %>
      

        <% if (currentUser._id.equals(polls[i].authorId) ) { %>  

            <div class="d-flex flex-row d-flex justify-content-end list-group-item">
                <div class="p-2 mr-auto">
                <a title="Click to vote" href='polls/vote/<%= polls[i]._id %>'><%= polls[i].name %></a>
            </div>

          
            
            <div class="p-2">  
                <a title="Click to delete poll" href='polls/<%= polls[i]._id %>'>
                    Delete
                </a>
            
            </div>
        
        </div>

        <% } %>

     
      
    <% } %>
    
<% } %>    