
    <% for(var i=0; i < polls.length; i++) { %>
      
      <div class="d-flex flex-row d-flex justify-content-end list-group-item">
        <div class="p-10 mr-auto">
            <a title="Click to vote\see results" href='/polls/vote/<%= polls[i]._id %>'>
                <%= polls[i].name %>
            </a>
        </div>
          
        <% if (currentUser) { %>
        <div class="p-2">  
            <a title="Click to add vote options" href='/polls/<%= polls[i]._id %>'>
                Add poll options
            </a>
          
        </div>
      
        <% } %>    
      </div>


     
      
    <% } %>
    