body {
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
    color: #00B7FF;
}

.borderedrow {
    border: 1px;
    border-style: solid;
}

* {
    /*border: 1px;
  border-style: solid;*/
}

.footer {
    position: fixed;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}