<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
    <% include ../partials/stylesheet %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include ../partials/header %>
    <% if (message && message.length > 0 ) { %>
      <div class="alert alert-warning" role="alert">
        <p>
          <%= message %>
      </div>

      <% } %>

        <div class="container">
          <div class="page-header m-t-1">
            <h1>
              <%= title %>
            </h1>
          </div>

          <form class="form-signin" action="/changepassword" method="post">
            <h2 class="form-signin-heading">Please enter new name\ password and click Change</h2>

            <label for="inputPassword" class="sr-only">Enter new password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
            <br>
          </form>


        
        </div>


        
        <% include ../partials/javascript %>
        <% include ../partials/footer %>
</body>

</html>