<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    


  </head>

  <body>
  	<% include ../partials/header %>

    <% if (message) { %>
      <div class="info "><p> <%= message %></p></div>
   <% } %>


  	<div class="container col-sm-10">
      <div class="jumbotron">
      <h1 class="display-3">Hello, voters!</h1>
      <p class="lead">This is a simple voting application. Here you can create your poll. 
        Share it with your friends. And of course you can see results of polls.
      </p>
      <hr class="my-4">
      <p>To start, press button below:</p>
      
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/polls" role="button">See polls</a>
          </p>

          <!--p class="lead" col-sm-3>
            <a class="btn btn-primary btn-lg" href="/polls/new" role="button">Create new poll</a>
          </p-->
        
        
      </div>
    </div>


  <% include ../partials/footer %>
	<% include ../partials/javascript %>
  </body>
</html>
