<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
          ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
          $("#addBtn").click(function () {
            $("#addBtn").before(
              " <li> <label for='pollOption' class='sr-only'>Vote Option:</label>   <input type='text' required  name='pollOption' class='form-control' placeholder='vote option'   >  </li>"
            );
          });
        });
      </script>

  </head>
  <body>
  	<% include ../partials/header %>

    <% if (message) { %>
      <div class="info "><p> <%= message %></p></div>
   <% } %>

  	<div class="container">
		<!--div class="page-header m-t-1">
			<h1><%= title %></h1>
		</div-->
		
    <p class="lead">Here you can create your own poll.</p>

    <div class="container">
    

      <form class="form" action="/polls/new" method="post">
            
                <label for="pollName" class="sr-only">Name</label>
                <input type="text"  name="pollName" class="form-control" placeholder="Name of poll" required>

                <p>Options:</p>
                <ul id="pollsBlock">
                <li>
                  <label for="pollOption" class="sr-only">Vote option</label>
                  <input type="text" name="pollOption" class="form-control" placeholder="poll option" required >
                
                </li>
                <button title="Click to add a new vote option" id="addBtn" class="btn btn-block">Add new vote option </button>         
                <button title="Click to create a new poll" class="btn btn-lg btn-primary btn-block" type="submit">Create new poll </button>
                <ul>
              
               
               <br>

       </form>
       

	</div>

	</div>



  <% include ../partials/footer %>
	<% include ../partials/javascript %>
  </body>
</html>
