<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
          $("#addBtn").click(function () {
            $("#pollsBlock").before(
              " <li> <label for='pollOption' class='sr-only'>Vote Option:</label>   <input type='text' required  name='pollOption' class='form-control' placeholder='vote option'   >  </li>"
            );
          });
        });
      </script>

  </head>
  <body>
  	<% include ../partials/header %>

    <% if (message) { %>
      <div class="info "><p> <%= message %></p></div>
   <% } %>

  	<div class="container">
		<div class="page-header m-t-1">
			<h1><%= title %></h1>
		</div>
		<p class="lead">Welcome to <%= title %></p>
    <p>Here you can create your own poll.</p>

    <div class="container">
    <button id="addBtn" class="btn btn-lg btn-primary btn-block">Add new option </button>

      <form class="form" action="/polls/new" method="post">
            <h2 class="">Create new poll</h2>

                
               <label for="pollName" class="sr-only">Name</label>
               <input type="text" id="name" name="name" class="form-control" placeholder="Name of poll" required>
                <ul id="pollsBlock">
                  <li>
                <label for="pollOption" class="sr-only">Vote option</label>
                <input type="text" name="pollOption" class="form-control" placeholder="poll option" required >
                <br>
                </li>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Create </button>
                <ul>
              
               
               <br>

       </form>

	</div>

	</div>



  <% include ../partials/footer %>
	<% include ../partials/javascript %>
  </body>
</html>
