<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
        <% include ../partials/javascript %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


            <script>
                $(document).ready(function () {

                    $.ajax({
                        url: '/polls/voteresultchart/<%= poll._id %>',
                        type: 'GET',
                        success: function (result) {
                            var ctx = document.getElementById("myChart");
                            var myChart = new Chart(ctx, {
                                type: result.type,

                                data: {
                                    labels: result.labels,
                                    datasets: [{
                                        label: '# of Votes',
                                        data: result.data,
                                        backgroundColor: result.backgroundColors,
                                        borderColor: result.borderColors,
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    layout: {
                                        padding: {
                                            left: 50,
                                            right: 50,
                                            top: 50,
                                            bottom: 50
                                        }
                                    }
                                }
                            });


                        },
                        error: function (error) {
                            alert('error occured ' + JSON.stringify(error));
                        }
                    });
                });
            </script>

</head>

<body>
    <% include ../partials/header %>


        <% if (message && message.length > 0 ) { %>
            <div class="alert alert-warning " role="alert">
                <p>
                    <%= message %>
            </div>

        <% } %>



                <div class="container">
                    <canvas id="myChart" width="100%" height="100%" style="padding-top: 50px; padding-bottom: 50px;"  ></canvas>
                </div>


                <% include ../partials/footer %>

</body>

</html>