<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <% include ../partials/stylesheet %>
      <% include ../partials/javascript %>
  </head>
  <body>

  	<% include ../partials/header %>
    <% if (message) { %>
      <div class="info "><p> <%= message %></p></div>
   <% } %>

    <div class="container col-sm-10">
      <p class="lead">Here you can vote on polls from list. Or <a href="/polls/new"> create your own poll</a></p>
      <% include ../partials/pager %>
      <% include ../partials/pollstable %>
      
  	</div>



  
	<% include ../partials/javascript %>
  <% include ../partials/footer %>
  </body>
</html>
